@{
    ViewData["Title"] = "Home Page";
}

<section class="book-cover">
    <div class="book-cover-overlay">
        <!--Slider with best quotes-->
        <div class="container text-center cover-book-text pt-5">
            <h1 class="text-white pt-5 mt-5">“A reader lives a thousand lives before he dies . . . The man who never reads lives only one.” – George R.R. Martin</h1>
        </div>
    </div>
</section>

<section class="container-fluid books-slider pt-5">
    <div class="px-5 clearfix">
        <button class="btn btn-warning float-left">Browse all releases</button>
        <h4 class="float-right text-white">New Realeses</h4>
    </div>
    <div class="container-fluid mb-5">
        <div class="row pt-4">
            <div class="col px-1">
                <div class="card" style="width:14rem;">
                    <img src="~/images/book1.png" class="card-img-top" alt="...">
                    <div class="book-iamge-overaly"></div>
                    <div class="button1"><a class="btn card-button" href="#">Order Now</a></div>
                    <div class="button2"><a class="btn card-button" href="#">More Details</a></div>
                    <div class="price"><a class="btn btn-warning">50 LE</a></div>
                </div>
            </div>
            <div class="col px-1">
                <div class="card" style="width:14rem;">
                    <img src="~/images/book1.png" class="card-img-top" alt="...">
                    <div class="book-iamge-overaly"></div>
                    <div class="button1"><a class="btn card-button" href="#">Order Now</a></div>
                    <div class="button2"><a class="btn card-button" href="#">More Details</a></div>
                    <div class="price"><a class="btn btn-warning">50 LE</a></div>
                </div>
            </div>
            <div class="col px-1">
                <div class="card" style="width:14rem;">
                    <img src="~/images/book1.png" class="card-img-top" alt="...">
                    <div class="book-iamge-overaly"></div>
                    <div class="button1"><a class="btn card-button" href="#">Order Now</a></div>
                    <div class="button2"><a class="btn card-button" href="#">More Details</a></div>
                    <div class="price"><a class="btn btn-warning">50 LE</a></div>
                </div>
            </div>
            <div class="col px-1">
                <div class="card" style="width:14rem;">
                    <img src="~/images/book1.png" class="card-img-top" alt="...">
                    <div class="book-iamge-overaly"></div>
                    <div class="button1"><a class="btn card-button" href="#">Order Now</a></div>
                    <div class="button2"><a class="btn card-button" href="#">More Details</a></div>
                    <div class="price"><a class="btn btn-warning">50 LE</a></div>
                </div>
            </div>
            <div class="col px-1">
                <div class="card" style="width:14rem;">
                    <img src="~/images/book1.png" class="card-img-top" alt="...">
                    <div class="book-iamge-overaly"></div>
                    <div class="button1"><a class="btn card-button" href="#">Order Now</a></div>
                    <div class="button2"><a class="btn card-button" href="#">More Details</a></div>
                    <div class="price"><a class="btn btn-warning">50 LE</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-after-section m-auto">
    </div>

</section>

<section class="container-fluid books-slider pt-5">
    <div class="px-5 clearfix">
        <button class="btn btn-warning float-left">Browse all releases</button>
        <h4 class="float-right text-white">Recommended Collections</h4>
    </div>
    <div class="container-fluid mb-5">
        <div class="row pt-4">
            <div class="col px-1">
                <div class="card" style="width:14rem;">
                    <img src="~/images/book1.png" class="card-img-top" alt="...">
                    <div class="book-iamge-overaly"></div>
                    <div class="button1"><a class="btn card-button" href="#">Order Now</a></div>
                    <div class="button2"><a class="btn card-button" href="#">More Details</a></div>
                    <div class="price"><a class="btn btn-warning">50 LE</a></div>
                </div>
            </div>
            <div class="col px-1">
                <div class="card" style="width:14rem;">
                    <img src="~/images/book1.png" class="card-img-top" alt="...">
                    <div class="book-iamge-overaly"></div>
                    <div class="button1"><a class="btn card-button" href="#">Order Now</a></div>
                    <div class="button2"><a class="btn card-button" href="#">More Details</a></div>
                    <div class="price"><a class="btn btn-warning">50 LE</a></div>
                </div>
            </div>
            <div class="col px-1">
                <div class="card" style="width:14rem;">
                    <img src="~/images/book1.png" class="card-img-top" alt="...">
                    <div class="book-iamge-overaly"></div>
                    <div class="button1"><a class="btn card-button" href="#">Order Now</a></div>
                    <div class="button2"><a class="btn card-button" href="#">More Details</a></div>
                    <div class="price"><a class="btn btn-warning">50 LE</a></div>
                </div>
            </div>
            <div class="col px-1">
                <div class="card" style="width:14rem;">
                    <img src="~/images/book1.png" class="card-img-top" alt="...">
                    <div class="book-iamge-overaly"></div>
                    <div class="button1"><a class="btn card-button" href="#">Order Now</a></div>
                    <div class="button2"><a class="btn card-button" href="#">More Details</a></div>
                    <div class="price"><a class="btn btn-warning">50 LE</a></div>
                </div>
            </div>
            <div class="col px-1">
                <div class="card" style="width:14rem;">
                    <img src="~/images/book1.png" class="card-img-top" alt="...">
                    <div class="book-iamge-overaly"></div>
                    <div class="button1"><a class="btn card-button" href="#">Order Now</a></div>
                    <div class="button2"><a class="btn card-button" href="#">More Details</a></div>
                    <div class="price"><a class="btn btn-warning">50 LE</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-after-section m-auto">
    </div>

</section>